Repository trailofbits/vast, pull requests merged in 2024-08, with the labels that each got.

#692 docs: Update default visitor arguments in integration example.
  docs/GettingStarted/integration.md
Labels: documentation

#694 Add type-list utils to query uniqueness and indices.
  include/vast/Util/TypeList.hpp
Labels: util

#704 Remove unsupported RelWithDebInfo config type.
  CMakePresets.json
Labels: bug, infrastructure

#705 Disambiguate high-level tablegen names.
  include/vast/Dialect/HighLevel/HighLevelAttributes.td
  include/vast/Dialect/HighLevel/HighLevelCF.td
  include/vast/Dialect/HighLevel/HighLevelOps.td
  include/vast/Dialect/HighLevel/HighLevelOpsCxx.td
  include/vast/Dialect/HighLevel/HighLevelTypes.td
  include/vast/Dialect/HighLevel/HighLevelVar.td
Labels: bug, mlir, high-level

#708 Replace SkipStmt with NullStmt.
  include/vast/Dialect/HighLevel/HighLevelCF.td
  lib/vast/CodeGen/DefaultStmtVisitor.cpp
  lib/vast/Conversion/ToLLVM/IRsToLLVM.cpp
Labels: high-level

#710 Add logo assets.
  www/assets/img/logo-black.png
  www/assets/img/logo.afdesign
  www/assets/img/logo.png
  www/mkdocs.yml
Labels: www

#711 Move symbol interfaces to core dialect.
  include/vast/CodeGen/ScopeContext.hpp
  include/vast/Dialect/ABI/ABI.td
  include/vast/Dialect/ABI/ABIOps.hpp
  include/vast/Dialect/Core/CMakeLists.txt
  include/vast/Dialect/Core/Core.td
  include/vast/Dialect/Core/CoreAttributes.hpp
  include/vast/Dialect/Core/CoreAttributes.td
  include/vast/Dialect/Core/CoreLazy.td
  include/vast/Dialect/Core/CoreOps.hpp
  include/vast/Dialect/Core/CoreOps.td
  include/vast/Dialect/Core/Func.td
  include/vast/Dialect/Core/Interfaces/CMakeLists.txt
  include/vast/Dialect/Core/Interfaces/Common.td
  include/vast/Dialect/Core/Interfaces/SymbolInterface.hpp
  include/vast/Dialect/Core/Interfaces/SymbolInterface.td
  include/vast/Dialect/Core/Interfaces/SymbolRefInterface.hpp
  include/vast/Dialect/Core/Interfaces/SymbolRefInterface.td
  include/vast/Dialect/Core/Interfaces/SymbolTableInterface.hpp
  include/vast/Dialect/Core/Interfaces/SymbolTableInterface.td
  include/vast/Dialect/Core/SymbolTable.hpp
  include/vast/Dialect/HighLevel/HighLevel.td
  include/vast/Dialect/HighLevel/HighLevelCF.td
  include/vast/Dialect/HighLevel/HighLevelOps.hpp
  include/vast/Dialect/HighLevel/HighLevelOps.td
  include/vast/Dialect/HighLevel/HighLevelOpsCxx.td
  include/vast/Dialect/HighLevel/HighLevelUtils.hpp
  include/vast/Dialect/HighLevel/HighLevelVar.td
  include/vast/Dialect/LowLevel/LowLevel.td
  include/vast/Dialect/LowLevel/LowLevelOps.hpp
  include/vast/Dialect/LowLevel/LowLevelOps.td
  include/vast/Dialect/Meta/Meta.td
  include/vast/Dialect/Unsupported/Unsupported.td
  include/vast/Interfaces/AST/DeclInterface.td
  include/vast/Interfaces/CMakeLists.txt
  include/vast/Util/Symbols.hpp
  lib/vast/Dialect/Core/SymbolTable.cpp
  lib/vast/Interfaces/SymbolInterface.cpp
  lib/vast/Interfaces/SymbolRefInterface.cpp
  lib/vast/Interfaces/SymbolTableInterface.cpp
Labels: core
